<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mutter.clean.junk">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <!--IMEI-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读写SDCard权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--获取最上层包名-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--可以访问使用量数据-->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--快捷方式-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />


    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--开机自启-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <application
        android:name="com.mutter.clean.junk.myActivity.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:supportsRtl,android:icon">
        <activity
            android:name="com.mutter.clean.junk.myActivity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.mutter.clean.main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mutter.clean.junk.myActivity.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mutter.clean.junk.myActivity.JiangwenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.CleanActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mutter.clean.CleanActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mutter.clean.junk.myActivity.CleanAndRamActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.UserAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.PhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.RamAvtivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mutter.clean.RamAvtivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mutter.clean.junk.myActivity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.ThemeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.SuccessActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.IgnoreListAvtivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.IgnoreAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.PowerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.NotifiAnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.ShowPermissionActivity"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.NotifiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.NotifiSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.XuanfuActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.UnloadActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <activity
            android:name="com.mutter.clean.junk.myActivity.SimilarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.PhotoHuiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.GameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mutter.clean.junk.myActivity.HuojianActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.mutter.clean.junk.broadcast.UnloadBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.mutter.clean.junk.service.FloatService"
            android:excludeFromRecents="true" />
        <service
            android:name="com.mutter.clean.junk.service.NotificationService"
            android:enabled="true"
            android:excludeFromRecents="true" />

        <activity
            android:name="com.mutter.clean.junk.myActivity.FileManaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mutter.clean.junk.myActivity.ListFileActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.mutter.clean.junk.myActivity.DocFileActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>