<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myboost.junk">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <!--IMEI-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读写SDCard权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--获取最上层包名-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--可以访问使用量数据-->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--快捷方式-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />


    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--开机自启-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <application
        android:name="com.myboost.junk.boostactivity.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:supportsRtl,android:icon">
        <activity
            android:name="com.myboost.junk.boostactivity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.myboost.junk.boostactivity.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myboost.junk.boostactivity.BatteriesActivityBoost"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.BoostRubbishActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.myboost.junk.BoostRubbishActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myboost.junk.boostactivity.RubbishAndRamActivityBoost"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.BoostAllAppsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.BoostPhonesMessageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.myboost.junk.boostactivity.MemoryAvtivityBoost"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.myboost.junk.MemoryAvtivityBoost" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.myboost.junk.boostactivity.BoostSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.SucceedActivityBoost"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.BoostIgnoresAvtivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.IgnoresAddActivityBoost"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.BoostDeepingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.NotifingAnimationActivityBoost"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.BoostPermissingActivity"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.myboost.junk.boostactivity.BoostNotifingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.NotifingSettingActivityBoost"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.BoostSuspensionBallActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.myboost.junk.boostactivity.UnloadingResidualActivityBoost"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <activity
            android:name="com.myboost.junk.boostactivity.BoostPictActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.PictHuiActivityBoost"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.BoostGoodGameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myboost.junk.boostactivity.ShortCutingActivityBoost"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.myboost.junk.boostbroadcasts.BoostUnloadResidualBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.myboost.junk.servicesboost.BoostSuspensionBallService"
            android:excludeFromRecents="true" />
        <service
            android:name="com.myboost.junk.servicesboost.NotificationServiceBoost"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="false" />
        <!-- android:exported="false"-->

        <activity
            android:name="com.myboost.junk.boostactivity.BoostFileManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myboost.junk.boostactivity.FileActivityBoost"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.myboost.junk.boostactivity.BoostDocActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>