<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivy.kpa">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name="com.ivy.kpa.DaemonService"
            android:process=":daemon" />
        <receiver
            android:name="com.ivy.kpa.DaemonReceiver"
            android:process=":daemon" />
    </application>

</manifest>
